<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header -->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
                <div class="row justify-content-center my-2">
                  <div class="col-7 bg-white py-2 card rounded">
                    <div class="row justify-content-start">
                        <div class="col-4 " role="tw-city-selector" data-bootstrap-style></div>
                        <div class="col-4">
                          <%- include('filter.ejs', {name : 'type', title : '型態', options : ['整層住家','獨立套房','分租套房','雅房','店面','住辦','商用','廠房','車位','土地','其他']}); %>
                          <%- include('filter.ejs', {name : 'price', title : '租金', options : ['5000以下','5000~10000','10000~20000','20000~30000','30000~50000','50000以上']}); %>
                        </div>
                        <div class="col-4 p-3">
                            <button id="submitBtn" type="submit" class="btn round bg-light w-100 h-100">搜尋</button>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <% for (var i = 0; i < houses.length; i++) { %> 
                        <%- include('house_item.ejs', { house : houses[i] }); %> 
                    <% } %>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- jQuery library -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Taiwan city selector -->
        <script src="js/tw-city-selector.min.js"></script>
        <script>
            new TwCitySelector();
            $(document).ready(function() {
                $('#submitBtn').click(function() {
                    const countyValue = $('#county').val();
                    const districtValue = $('#district').val();
                    const typeValue = $('#type').val();
                    const priceValue = $('#price').val();

                    // make AJAX request to backend API
                    $.ajax({
                    type: 'POST',
                    url: '/submit',
                    data: {
                        county: countyValue,
                        district: districtValue,
                        type: typeValue,
                        price: priceValue
                    },
                    success: function(response) {
                        console.log(response);
                        // handle successful response from backend
                    },
                    error: function(error) {
                        console.log(error);
                        // handle error response from backend
                    }
                    });
                });
            });
        </script>
    </body>
</html>