.dropdown-item {
    position: relative;
}
.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}
.dropdown-menu > .dropdown-item:hover > .dropdown-submenu {
    display: block;
}
.unrounded-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-img-top {
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
}
.multiline-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}