.dropdown-item {
    position: relative;
}
.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}
.dropdown-menu > .dropdown-item:hover > .dropdown-submenu {
    display: block;
}
.unrounded-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}